:root {
    --color-title: #fff9ff;
}

body {
    margin: 0;
    background: #0e2953;
    font-family: "Euclid Circular A", "Poppins";
    color: #a0a8bd;
    height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #08162c;
    padding-top: 60px;
}

section {
    position: relative;
    margin: 0 30px;
}


section.top {
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 20px;
}

section.top>img {
    height: 50px;
    margin: 0 auto 50px;

}

section.top .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 36px;
}


section.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
}

.links-column {
    display: grid;
    gap: 10px;
    text-align: center;
}

section h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-title);
}

section p {
    margin: 0;
}

.legal>a {
    margin: 0 0 0 4px;
}

.legal,
.copyright {
    font-size: 12px;
}

.legal>span {
    margin-right: 10px;
}

section.top .socials {
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
}

section.top .socials>a {
    font-size: 20px;
    background: rgb(45 118 232 / 25%);
    color: var(--color-title);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}





/* 

https: //www.instagram.com/p/C2FccgJtT6r/?img_index=3

https://github.com/frontend-joe/css-footers/blob/main/footer-4/styles.css

*/