:root {
    --background: #060d23;
    --linkedin: #0a66c2;
    --youtube: #e52d27;
    --x: #0f1419;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* https://www.instagram.com/p/C19Q5qbNbls/?img_index=4 */