:root {
    --background: #060d23;
    --linkedin: #0a66c2;
    --youtube: #e52d27;
    --x: #0f1419;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.social-media-button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;
}

.social-media-button:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

/* https://www.instagram.com/p/C19Q5qbNbls/?img_index=4 */