* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
    display: flex;
    flex-direction: column;
}

footer {
    background: #111;
    width: 100%;
}

footer .content {
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    margin-bottom: 10px;
}

header {
    min-height: 10vh;
    background: lightcyan;
}

article {
    flex: 1;
    min-height: 10vh;
}