*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gothic A1", sans-serif;
    height: 100vh;
    color: #0e100f;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    width: ;
}