*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gothic A1", sans-serif;
    height: 100vh;
    color: #0e100f;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    width: 100%;
    background-color: #fffce1;
}

input,
a,
button,
li {
    all: unset;
    font: inherit;
}

a,
button {
    cursor: pointer;
}

footer {
    padding: 3.5rem clamp(3rem, 6vw, 14rem);
}

.footer-wrapper {
    max-width: 90rem;
    margin: 0 auto;
}

/* https://www.instagram.com/p/C2FCLFLBPI_/?img_index=6 */