* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #FAFAFA;
    color: #FAFAFA;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 50%;
    height: auto;
    display: inline-block;
    top: 50%;
}

.item {
    font-size: 10px;
}

nav.menu {
    background: #18171C;
    border-radius: 0.4rem;

}

nav>a.item {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
    text-align: center;

}

#hamburger {
    min-width: 120px;
    width: 100px;
    padding-right: 90%;
}