* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    padding: 60px 15%;
    margin: 0;
    color: #f7f7f7;
    background: #121212;
    font-family: "Euclid Circular A", "Poppins";
}