* {
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

body {
    font-family: "Roboto";
    background: #FAFAFA;
    color: #FAFAFA;
    margin: 0;
    height: 94vh;
    display: grid;
    place-items: center;
}

.item {
    font-size: 10px;
}

nav {
    position: relative;
    background: #18171C;
    display: flex;
}

nav .item:hover {
    background: #E57A44;
    color: #FAFAFA;
    border-radius: inherit;
}

nav .item {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
    text-align: center;
    align-content: center;
}